quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz
quartz.jobStore.dataSource = QuartzDB
quartz.serializer.type = json

quartz.dataSource.QuartzDB.provider = SqlServer
quartz.dataSource.QuartzDB.connectionString = Server=(LocalDB)\MSSQLLocalDB;Initial Catalog=upromis.notifications;Integrated Security=True;Pooling=False
